/* body css */
body {
  font-family: 'Poppins', sans-serif;
  margin: 0px;
}
h1 {
  font-size: 50px;
}
.oranged {
  color: orange;
}
.flexible-container {
  display: flex;
  align-items: center;
  margin-bottom: 150px;
}
/* --- top banner --- */
.top-banner {
  background-image: url(images/top-banner.png);
  background-repeat: no-repeat;
}
.left-half {
  width: 50%;
  padding-left: 2%;
}
.right-half {
  width: 50%;
  padding-left: 2%;
}
.right-half img {
  width: 80%;
}
.link-button {
  text-decoration: none;
  color: white;
  background-image: linear-gradient(orange, tomato);
  padding: 10px 40px;
  border-radius: 5px;
}
.left-half img {
  width: 80%;
}
/* dream big */
.dream-big {
  background-image: url(images/dream-bg.png);
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: bottom;
}
.dream-big .right-half {
  padding-right: 120px;
}
/* experience */
.experience-area {
  background-image: url(images/exp-bg.png);
  background-repeat: no-repeat;
  background-position-x: left;
  background-position-y: bottom;
}
.experience-item {
  width: 40%;
  margin-left: 5%;
  margin-right: 5%;
  box-shadow: 10px 10px 40px gray;
  padding: 15px;
  border-radius: 10px;
}
.full-stack {
  border-left: 8px solid orangered;
}
.baby-stack {
  border-left: 8px solid blue;
}
.experience-item h1 {
  font-size: 30px;
}
/* full stack */
footer {
  text-align: center;
}
